name: OOTB Push base language translations to Lokalise
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to Lokalise
        uses: lokalise/lokalise-push-action@v4.0.0
        with:
          api_token: ${{ secrets.LOKALISE_API_TOKEN }}
          project_id: ${{ secrets.LOKALISE_PROJECT_ID }} 
          base_lang: en
          translations_path: |
            app/src/main/res/values/strings.xml
            app/src/main/res/values-ro/strings.xml
          file_ext: xml
          file_format: xml
          rambo_mode: true

